<form class="big_form" action="/members/all" method="post">
  <label for="first-name">First Name:</label>
  <input type="text" name="first_name" id="first-name" value="">
  
  <br>
  
  <label for="last-name">Last Name:</label>
  <input type="text" name="last_name" id="last-name" value="">
  
  <br>
  
  <label for="join-date">Join Date:</label>
  <input type="text" name="join_date" id="join-date" value="">
  
  <br>
  
  <label for="membership-type">Membership Type:</label>
  <select class="" name="membership_type" id="membership-type">
    <option value=""selected disabled>Select An Option</option>
    <option value="Gym Only">Gym Only</option>
    <option value="Gym & Classes">Gym & Classes</option>
    <option value="Premium Membership">Premium Membership</option>
  </select>
  
  <br>
  <br>
  
  <button type="sumbit" name="">Add New Member</button>
</form>
