<h1>Ruby Fitness Management System</h1>


<p>Always remember that our mission here at Ruby Fitness is to provide a supportive and encouraging environment, as well as top of the range equipment and classes to help our members achieve their health and fitness goals.</p>

<h6>Member Management Quick Links</h6>
<p><a href="/members/all">View All Members</a></p>
<p><a href="#">Find a Member</a></p>
<p><a href="/bookings/new">Book a Member Into a Class</a></p>
<p><a href="/members/new">Add a New Member</a></p>

<h6>Class Management Quick Links</h6>
<p><a href="/classes/all">View All Classes</a></p>
<p><a href="#">Find a Class</a></p>
<p><a href="/bookings/all">View All Class Bookings</a></p>
<p><a href="/classes/new">Add a New Class</a></p>
