

<div class="main">
  
  <div class="statement">
    
    <p>Always remember that our mission here at Ruby Fitness is to provide a supportive and encouraging environment to help our members achieve their health and fitness goals.</p>
    
  </div>
  
  
  <div class="quick_member">
    
    <h5>Member Management Quick Links</h5>
    <p><a href="/members/all">View All Members</a></p>
    <p><a href="/members/new">Add a New Member</a></p>
    
  </div>
  
  <div class="quick_class">
    
    <h5>Class Management Quick Links</h5>
    <p><a href="/classes/all">View All Classes</a></p>
    <p><a href="/bookings/all">View All Class Bookings</a></p>
    <p><a href="/classes/new">Add a New Class</a></p>
    
  </div>
</div>
