<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/public/styles/style.css">
    <meta charset="utf-8">
    <title>Ruby Fitness Management System</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/members/all">Member Management</a></li>
        <li><a href="/classes/all">Class Management</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
    </nav>
    <%=yield%>
  </body>
</html>
