<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Ruby Fitness Management System</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css"/>
</head>
<header>
  <h1>Ruby Fitness Management System</h1>
</header>
<body>
  <nav class="head_nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/members/all">Member Management</a></li>
      <li><a href="/classes/all">Class Management</a></li>
      <li><a href="/sitemap">Site Map</a></li>
    </ul>
  </nav>
  <%=yield%>
</body>
</html>
