
<div class="all_info">
  <div class="site_info">
    
    <h3>Site Map</h3>
    
    <ol class="main-list">
      <li><a href="/">Home</a></li>
      <li><a href="/members/all">View All Members</a></li>
      <ol class="sub-list">
        <li><a href="/members/:id">Show Individual Member</a></li>
        <li><a href="/members/:id/update">Update Member Details</a></li>
        <li><a href="/members/new">Add New Member</a></li>
      </ol>
      <li><a href="/classes/all">Show All Classes</a></li>
      <ol class="sub-list">
        <li><a href="/classes/:id">Show Individual Class</a></li>
        <li><a href="/classes/:id/update">Edit Class Details</a></li>
        <li><a href="/classes/new">Add New Class</a></li>
      </ol>
      <li><a href="/bookings/all">View All Bookings</a></li>
      <ol class="sub-list">
        <li><a href="/bookings/new">Make New Bookings</a></li>
        <li><a href="/bookings/:id">View Individual Booking</a></li>
        <li><a href="/bookings/:id/update">Edit Bookings</a></li>
      </ol>
    </ol>
    
  </div>
</div>
