
<div class="all_info">
  <div class="site_info">
    
    <h3>Site Map</h3>
    
    <ol class="main-list">
      <li><a href="/">Home</a></li>
      <li><a href="/members/all">View All Members</a></li>
      <ol class="sub_list">
        <li>View Individual Member</li>
        <ol class="double_sub_list">
          <li>View Member Bookings</li>
          <li>Update Member Details</li>
        </ol>
        <li><a href="/members/new">Add New Member</a></li>
      </ol>
      <li><a href="/classes/all">View All Classes</a></li>
      <ol class="double_sub_list">
        <li>View Class Details</li>
        <ol class="double_sub_list">
          <li>Book Member Into Class</li>
          <li>Update Class Details</li>
        </ol>
        <li><a href="/bookings/all">View All Bookings</a></li>
        <ol class="double_sub_list">
          <li>View Booking Details</li>
          <li>Edit Booking</li>
        </ol>
        <li><a href="/classes/new">Add New Class</a></li>
      </ol>
      <li>Site Map</li>
    </ol>
    
  </div>
</div>
