<div class="main">
  
<div class="side_nav">
  <p><a href="/classes/all">View All Classes</a></p>
  <p><a href="/bookings/all">View All Bookings</a></p>
  <p><a href="/classes/new">Add a New Class</a></p>
</div>


<div class="all_info">
  
  <h3>All Bookings</h3>

  <hr/>

  <% for booking in @bookings do %>
      <p>Member: <%=booking.find_single_member.first_name%> <%=booking.find_single_member.last_name%></p>
      <p>Class Booked: <%=booking.find_class.name%></p>
      <p><a href="/bookings/<%=booking.id%>">View Booking Details</a></p>
      <hr/>
  <% end %>
  
</div>

</div>
