<form class="" action="/classes/create" method="post">
  <label for="name">Class Name:</label>
  <input type="text" name="name" id="name" value="">
  
  <button type="submit" name="New Class">Add New Class</button>
</form>
