<form class="big_form" action="/classes/create" method="post">
  <label for="name">Class Name:</label>
  <input type="text" name="name" id="name" value="">
  
  <br>
  
  <label for="day">Day: </label>
  <input type="text" name="day" id="day" value="">
  
  <br>
  
  <label for="start-time">Start Time: </label>
  <input type="text" name="start_time" id="start-time" value="">
  
  <br>
  
  <label for="duration">Duration: </label>
  <input type="text" name="duration" id="duration" value="">
  
  <br>
  
  <label for="max-capacity">Maximum Capacity: </label>
  <input type="number" name="max_capacity" id="max-capacity" value="">
  
  <br>
  
  <button type="submit" name="New Class">Add New Class</button>
</form>
