header {
  display: flex;
  background-image: url('/images/banner_image.jpg');
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 180px;
}

h1 {
  font-family: Verdana, Geneva, sans-serif;
  color: rgb(229, 231, 234);
}

body {
  font-family: Verdana, Geneva, sans-serif;
  background-color: rgb(225, 232, 222);
}

.head_nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}

.main {
  display: flex;
}

.statement {
  margin-left: 17em;
  margin-right: 17em;
  margin-top: 7em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.quick_member {
  margin-left: 1em;
  margin-top: 3em;
  min-width: 10em;
  flex-direction: column;
  align-items: flex-start;
  order: -1;
}

.quick_class {
  margin-right: 1em;
  margin-top: 3em;
  min-width: 10em;
  flex-direction: column;
  align-items: flex-end;
}

.side_nav {
  margin-left: 1em;
  margin-top: 5em;
  min-width: 10em;
  flex-direction: column;
  align-items: flex-start;
}

.all_info {
  margin-left: 19em;
  margin-right: 17em;
  margin-top: 5em;
  justify-content: center;
}

.big_form {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  margin-left: 20em;
  margin-right: 20em;
}

ol {
  list-style: none;
}

.sub_list {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.double_sub_list {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.site_info {
  margin-left: 8em;
}
